<div class="contenido">
    <mat-card style="margin: 20px 40px 0px 40px; background-color: black; color: white;">
        <div class="text-center mt-3">
            <h1>Calidad de Software - Modelo BOEHM</h1>
        </div>
    </mat-card>
<mat-card style="margin: 20px 40px 40px 40px;">
    <div style="text-align: center;">
        <img class="mb-2" src="../assets/img/quality.png" alt="" width="200" height="auto">
    </div>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="300px">
            <mat-grid-tile style="height: auto;">
                <mat-card class="card-info" style="background-color: beige; height: 100%;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon style="color: green;">check</mat-icon>
                        </div>
                        <mat-card-title style="color: green;">Características de Alto nivel</mat-card-title>
                        <mat-card-subtitle>
                            <ul>
                                <li>Utilidad</li>
                                <li>Mantenimiento</li>
                                <li>Portabilidad</li>
                            </ul>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="card-info" style="background-color: beige; height: 100%;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon style="color: green;">check</mat-icon>
                        </div>
                        <mat-card-title style="color: green;">Características de Nivel Intermedio:</mat-card-title>
                        <mat-card-subtitle>
                            <ul>
                                <li>Portabilidad</li>
                                <li>Fiabilidad</li>
                                <li>Eficiencia</li>
                                <li>Usabilidad</li>
                                <li>Capacidad de Prueba</li>
                                <li>Comprensibilidad</li>
                                <li>Flexibilidad.</li>
                            </ul>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="card-info" style="background-color: beige; height: 100%;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon style="color: green;">check</mat-icon>
                        </div>
                        <mat-card-title style="color: green;">Características Primitivas:</mat-card-title>
                        <mat-card-subtitle>
                            <ul>
                                <li>Independencia</li>
                                <li>Completitud</li>
                                <li>Exactitud</li>
                                <li>Consistencia</li>
                                <li>Eficiencia</li>
                                <li>Accesibilidad</li>
                                <li>Comunicatividad</li>
                                <li>Estructuracion</li>
                                <li>Autodescriptividad</li>
                                <li>Concision</li>
                                <li>Legibilidad</li>
                                <li>Expansividad</li>
                            </ul>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
</div>
